@import "./bower_components/uikit/scss/uikit-mixins.scss";

// your custom code goes here, e.g. mixins, variables
@import "variables";

@import "./bower_components/uikit/scss/uikit.scss";
@import "./bower_components/uikit/scss/components/autocomplete.scss";
